<section class="section-producto-detalle" id="section-producto-detalle">
    <div *ngIf="productoDetalle | async as producto">
        <div class="container">
            <div class="card">
                <img class="img" src="{{producto.imgProducto}}" alt="{{producto.nombre}}">
                <div class="card-body">
                    <form class="form-producto" [formGroup]="formProducto" (ngSubmit)="actualizarProducto(producto.id, producto.imgProducto)">
                        <div class="form-group">
                            <label for="inputNombre1">Nombre del producto</label>
                            <input type="text" class="form-control" id="inputNombre1" placeholder="{{producto.nombre}}" [(ngModel)]="producto.nombre" aria-describedby="emailHelp" formcontrolname="nombre">
                        </div>
                        <div class="form-group">
                            <label for="inputMarca">Marca</label>
                            <select class="custom-select" id="inputSelect" [(ngModel)]="producto.marca" formcontrolname="marca">
                                <option value="" selected>Seleccione</option>
                                <option *ngFor="let marca of marcas" [ngValue]="marca">
                                    {{marca.nombre}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputMarca">Categoría</label>
                            <select class="custom-select" id="inputSelect" [(ngModel)]="producto.categoria" formcontrolname="categoria">
                                <option value="" selected>Seleccione</option>
                                <option *ngFor="let categoria of categorias" [ngValue]="categoria">
                                    {{categoria.nombre}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputMarca">Subcategoría</label>
                            <select class="custom-select" id="inputSelect" [(ngModel)]="producto.subcategoria" formcontrolname="subcategoria">
                                <option value="" selected>Seleccione</option>
                                <option *ngFor="let subcategoria of subcategorias" [ngValue]="subcategoria">
                                    {{subcategoria.nombre}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputPrecio">Precio</label>
                            <input type="number" class="form-control" id="inputPrecio" [(ngModel)]="producto.precio" placeholder="{{producto.precio}}" formcontrolname="precio"></div>
                        <div class="form-group">
                            <label for="inputStock">Stock</label>
                            <input type="number" class="form-control" id="inputStock" [(ngModel)]="producto.stock" placeholder="{{producto.stock}}" formcontrolname="stock"></div>
                        <div class="form-group form-group-stock">
                            <label for="inputContenido">Contenido neto</label>
                            <div class="group">
                                <input type="number" class="form-control" id="inputContenido" [(ngModel)]="producto.contenidoNeto" placeholder="{{producto.contenidoNeto}}" formcontrolname="contenidoNeto">
                                <select class="custom-select" id="inputSelect" [(ngModel)]="producto.unidadMedida" formcontrolname="unidadMedida">
                                    <option value="" selected="selected">Seleccione</option>
                                    <option *ngFor="let unidad of unidadesMedida" [ngValue]="unidad.unidad">
                                        {{unidad.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Descripción</label>
                            <textarea type="text" class="form-control" id="exampleInputPassword5" [(ngModel)]="producto.descripcion" placeholder="{{producto.descripcion}}" formcontrolname="descripcion"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-guardar-producto">Actualizar producto</button>
                    </form>
                </div>
                <button type="button" class="btn btn-secondary btn-deshabilitar" *ngIf="producto.estado == true; else elseFalse" (click)="deshabilitarProducto(producto)">
                    Deshabilitar producto
                </button>
                <ng-template #elseFalse>
                    <button type="button" class="btn btn-secondary btn-deshabilitar" (click)="deshabilitarProducto(producto)">
                        Habilitar producto
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
</section>
